{% extends 'base.html'%} {% block content %}

<div class="d-flex user">
    <div class="text-white admin-menu">
      <ul class="admin-menu-list">
        <li class="admin-item active">Quản lý File</li>
        <li class="admin-item">Quản lý phản hồi</li>
        <li class="admin-item">Quản lý tài khoản</li>
        <li class="admin-item">ChatPDF</li>
      </ul>
      <a href="{{url_for('login')}}" class="btn home-btn-text"
        >Đăng Nhập</a>
    </div>
    <div class="admin-content">
        <div class="admin-list active">
          <div class="scroll">
            <table class="table-bordered admin-content-table">
              <thead>
                <tr>
                  <th scope="col" style="width: 50px">ID</th>
                  <th scope="col" style="width: 300px">File</th>
                  <th scope="col">Thời gian</th>
                </tr>
              </thead>
              <tbody>
                {% for pdf in pdfs|reverse %}
                <tr onclick="selectRow(this)" data-pdf-id = "{{pdf.id}}">
                  <th scope="row">{{pdf.id}}</th>
                  <!-- contenteditable="true" -->
                  <td>{{pdf.pdfname}}</td>
                  <td>{{ (pdf.date|add_hours).strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        
          <div class="admin-btn d-flex justify-content-end m-5">
            <td contenteditable="true"><input style="color: white;" type="file" name="pdf" accept=".pdf" id="fileInput"></td>
            <button class="btn ml-5 btn-add" id="uploadButton">Thêm</button>
            <button class="btn ml-5 btn-close" onclick="confirmDelete()">Xóa</button>
          </div>
        
        </div>
        <div class="admin-list">
            <div class="scroll">
                <table class="table-bordered admin-content-table">
                    <thead>
                        <tr>
                          <th scope="col" style="width: 50px">ID</th>
                          <th scope="col" style="width: 150px">Email</th>
                          <th scope="col" style="width: 100px">Thời gian</th>
                          <th scope="col" style="width: 200px">Phản hồi</th>
                          <th scope="col" style="width: 200px">Câu hỏi</th>
                          <th scope="col">Trả lời</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for feedback in feedbacks|reverse %}
                        <tr onclick="selectRow(this)" data-feedback-id = "{{feedback.id}}">
                          <th scope="row">{{feedback.id}}</th>
                          <td>{{feedback.user_email}}</td>
                          <td>{{(feedback.date|add_hours).strftime('%Y-%m-%d %H:%M:%S') }}</td>
                          <td>{{feedback.message}}</td>
                          <td>{{feedback.user_chat}}</td>
                          <td>{{feedback.bot_chat}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
            </div>

              <div class="admin-btn d-flex justify-content-end m-5">
                <button class="btn ml-5 btn-close" onclick="confirmDelete()">Xóa</button>
              </div>

        </div>
        <div class="admin-list">
          <div class="scroll">
            <table class="table-bordered admin-content-table">
              <thead>
                <tr>
                  <th scope="col" style="width: 50px">ID</th>
                  <th scope="col" style="width: 300px">Tên tài khoản</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users|reverse %}
                <tr onclick="selectRow(this)" data-user-id = "{{user.id}}">
                  <th>{{user.id}}</th>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        
          <div class="admin-btn d-flex justify-content-end m-5">
            <button class="btn ml-5 btn-add"><a href="{{url_for('sigup')}}">Thêm</a></button>
            <button class="btn ml-5 btn-close" onclick="confirmDelete()">Xóa</button>
          </div>
        
        </div>
        <div class="admin-list">
          <div class="user-chatPDF-conversation scroll" id="scrollable-content">
              {% for conversation in topic.conversations %}
              <div class="user-chat">
                <div class="chat-item">
                  <p class="chat-item-message">
                    {{ conversation.user_chat }}
                  </p>
                </div>
                <div class="chat-tk">
                  <span class="username">
                     <i class="fa-solid fa-user"></i>
                  </span>
                </div>
              </div>
              <div class="chat-chat">
                <div class="chat-AI">
                  <span>
                    <img src="{{url_for('static', filename='images/artificial-intelligence.png')}}"/>
                  </span>
                </div>
                <div class="chat-item">
                  <p class="chat-item-messageAI">
                    {{ conversation.bot_chat }}
                  </p>
                </div>
              </div>      
              {% endfor %}
        </div>
        <div class="background-image">
        </div>
        <div class="d-flex chatPDF-message-usernotaccount">
          <div class="optionAI">
            <ul class="optionAI-list">
              <li class="optionAI-item">
                GPT4All
              </li>
              <li class="optionAI-item" style="border-top: 1px solid #ccc">
                Llama2
              </li>
            </ul> 
            <span class="optionAI-box">
              <span>Model</span>
              <div class="optionAI-hover">
                GPT4All
              </div>
            </span>
          </div>
          <form class="chatPDF-message-form" id="input-form" method="POST" class="d-flex">
            <textarea type="text" id="messageInput" name="input_text" rows="1" placeholder="Send a message" class="d-flex"></textarea>
            <button class="chatPDF-message-btn" id="sendMessageButton">
              <i class="fas fa-play"></i>
            </button>
          </form>
        </div>
    </div>
</div>

<script>
  document.getElementById('uploadButton').addEventListener('click', function () {
    var fileInput = document.getElementById('fileInput');
    var selectedFile = fileInput.files[0];

    if (selectedFile) {
      var formData = new FormData();
      formData.append('file', selectedFile);
      formData.append('user_id', "{{user_id}}");
      // Tạo một XMLHttpRequest để tải lên tệp
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/upload', true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            console.log('File uploaded successfully');
            location.reload();
          } else {
            console.error('File upload failed');
          }
        }
      };
      xhr.send(formData);
    }
  });
</script>

<script>
    const adminItems = document.querySelectorAll(".admin-item");
    const adminLists = document.querySelectorAll(".admin-list");
    const selectedDivIndex = localStorage.getItem("selectedDivIndex");
    adminItems.forEach((item, index) => {
      const adList = adminLists[index];
      item.onclick = function () {
        document.querySelector(".admin-item.active").classList.remove("active");
        document.querySelector(".admin-list.active").classList.remove("active");
        this.classList.add("active");
        adList.classList.add("active");
        localStorage.setItem("selectedDivIndex", index);
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set("page", index);
        const baseUrl = window.location.href.split('?')[0];
        const newUrl = `${baseUrl}?${urlParams.toString()}`;
        history.replaceState(null, null, newUrl);
      };
      if (index.toString() === selectedDivIndex) {
        item.click();
      }
      // console.log(selectedDivIndex);
    });
    
  </script>

<script>
  // scroll
  const scrollableContent = document.getElementById("scrollable-content");
  function scrollBottom() {
    scrollableContent.scrollTop = scrollableContent.scrollHeight;
  }
  // Gửi tin nhắn
const conversationContainer = document.querySelector('.user-chatPDF-conversation');
var searchForm = document.getElementById('input-form');
searchForm.addEventListener('submit', async function(event) {
  event.preventDefault();
  var formData = new FormData(searchForm);
  formData.append('input_text', searchForm.elements.input_text.value);
  if (selectedModel !== '') {
    formData.append('model', selectedModel); // Thêm tên model vào FormData
  }
  
  const user_chat = messageInput.value;
  let receivedResponse = false;
  messageInput.value = '';
  // Tạo div chứa câu hỏi của người dùng
  const userChatDiv = document.createElement('div');
  userChatDiv.className = 'user-chat';
  userChatDiv.innerHTML = `
    <div class="chat-item">
      <p class="chat-item-message">
        ${user_chat}
      </p>
    </div>
    <div class="chat-tk" id="scrollable-content">
      <span class="username">
        <i class="fa-solid fa-user"></i>
      </span>
    </div>
  `;
  conversationContainer.appendChild(userChatDiv);

  // Tạo div chứa câu trả lời của bot
  const chatChatDiv = document.createElement('div');
  chatChatDiv.className = 'chat-chat';
  conversationContainer.appendChild(chatChatDiv);
  chatChatDiv.innerHTML = `
    <div class="chat-AI">
      <span>
        <img src="{{url_for('static', filename='images/artificial-intelligence.png')}}"/>
      </span>
    </div>
    <div class="chat-item">
      <p class="chat-item-messageAI">
        <i class="fa-solid fa-spinner fa-spin icon-spinner"></i>
      </p>
    </div>
  `;

  
  try {
    const response = await fetch('/add_conversation', {
      method: 'POST',
      body: formData
    });
    const reader = response.body.getReader();
    while (true) {
      const {done, value} = await reader.read(); 
      if (done) break;  
      const text = new TextDecoder().decode(value); 
      
      // Tìm câu trả lời của bot và thêm nội dung
      const chatItemMessageAI = chatChatDiv.querySelector('.chat-item-messageAI');
      chatItemMessageAI.innerHTML += text; 

      // Kiểm tra nếu chưa nhận được câu trả lời từ server
      if (!receivedResponse) {
    receivedResponse = true; // Đặt biến receivedResponse thành true
    console.log(receivedResponse);
    // Loại bỏ biểu tượng loading nếu có giá trị text
    if (text.trim() !== '') {
        const iconSpinner = chatChatDiv.querySelector('.icon-spinner');
        if (iconSpinner) {
            iconSpinner.parentNode.removeChild(iconSpinner);
        }
    }
}

scrollBottom();
    }
  } catch (error) {
    console.error(error);
  }
});

</script>

<script>
  function selectRow(row) {
    // Remove the "selected-row" class from all rows
    var rows = document.querySelectorAll('tbody tr');
    rows.forEach(function (r) {
      
      r.classList.remove('selected-row');
    });
    // Add the "selected-row" class to the clicked row
    row.classList.add('selected-row');
  }

  function confirmDelete() {

    var selectedRow = document.querySelector('.selected-row');
    if (selectedRow) {
      // Confirm before deleting
      const userIdFromAttribute = selectedRow.getAttribute("data-user-id");
      const pdfIdFromAttribute = selectedRow.getAttribute("data-pdf-id");
      const feedbackIdFromAttribute = selectedRow.getAttribute("data-feedback-id");
      // console.log(userIdFromAttribute);
      if(userIdFromAttribute){
        var confirmDelete = confirm('Bạn có chắc muốn xoá dữ liệu người dùng này?');
        if (confirmDelete) {
          // Delete the selected row if confirmed
          fetch("/delete_user", {
            method: "POST",
            body: JSON.stringify({ user_id: userIdFromAttribute }),
            headers: {
              "Content-Type": "application/json",
            },
          })
          selectedRow.parentNode.removeChild(selectedRow);
        }
      }
      else if(pdfIdFromAttribute){
        var confirmDelete = confirm('Bạn có chắc muốn xoá tệp pdf này?');
        if (confirmDelete) {
          // Delete the selected row if confirmed
          fetch("/delete_pdf", {
            method: "POST",
            body: JSON.stringify({ pdf_id: pdfIdFromAttribute }),
            headers: {
              "Content-Type": "application/json",
            },
          })
          selectedRow.parentNode.removeChild(selectedRow);
        }
      }
      else if(feedbackIdFromAttribute) {
        var confirmDelete = confirm('Bạn có chắc muốn xoá phản hồi này?');
        if (confirmDelete) {
          // Delete the selected row if confirmed
          fetch("/delete_feedback", {
            method: "POST",
            body: JSON.stringify({ feedback_id: feedbackIdFromAttribute }),
            headers: {
              "Content-Type": "application/json",
            },
          })
          selectedRow.parentNode.removeChild(selectedRow);
        }
      }
    }
     else {
      alert('No row selected.');
    }
  }
</script>

<script>
  // Lấy tất cả các hàng trong bảng
  const rows = document.querySelectorAll("tbody tr");
  // Lặp qua từng hàng và thêm sự kiện click
  rows.forEach((row) => {
    row.addEventListener("click", () => {
      const userIdFromAttribute = row.getAttribute("data-user-id");
      // console.log("User ID from attribute:", userIdFromAttribute);
    });
  });
</script>

<script>
  let selectedModel = 'GPT4All';
  const optionAI = document.querySelector(".optionAI-box");
  const optionAIList = document.querySelector(".optionAI-list");
  const optionAIHover = document.querySelector(".optionAI-hover");
  
  // Lắng nghe sự kiện click vào một mục trong danh sách
  optionAIList.addEventListener('click', function(event) {
    // Kiểm tra xem phần tử được click là một mục trong danh sách
    if (event.target.classList.contains('optionAI-item')) {
      selectedModel = event.target.textContent.trim(); 
      // Lấy nội dung của mục được click
      const modelName = event.target.textContent.trim();
      // Thay đổi nội dung của optionAI-hover thành tên model được chọn
      optionAIHover.textContent = modelName;
    }
  });

  optionAI.addEventListener('click', function(){
    optionAIList.style.display = "block";
    optionAIHover.classList.toggle('show');
    setTimeout(function(){
    optionAIList.style.display = "none";
    optionAIHover.classList.remove('show');
    }, 4000)
  });
</script>

{% endblock %}
