{% extends 'base.html'%} {% block content %}

<div class="d-flex user">
  <div class="notaccount">
    <h4>Câu hỏi thường gặp</h4>
    <ul class="notaccount-list">
      <li>Có thể chat ngay bây giờ không?</li>
      <li>Tiêu chí tuyển sinh trong năm nay?</li>
      <li>Điều kiện nhập học của trường là gì?</li>
      <li>Những quy định của trường phenikaa là gì?</li>
    </ul>
    <a href="{{url_for('login')}}" class="btn home-btn-text">Đăng Nhập</a>
  </div>
  <div class="user-chatPDF">
    <div class="user-chatPDF-conversation scroll" id="scrollable-content">
      {% for conversation in conversations %}
      <div class="user-chat">
        <div class="chat-item">
          <p class="chat-item-message">
            {{ conversation.user_chat }}
          </p>
        </div>
        <div class="chat-tk">
          <span class="username">
            <i class="fa-solid fa-user"></i>
          </span>
        </div>
      </div>
        
      <div class="chat-chat">
        <div class="chat-AI">
          <span>
            <img src="{{url_for('static', filename='images/artificial-intelligence.png')}}"/>
          </span>
        </div>
        <div class="chat-item">
          <p class="chat-item-messageAI">
            {{ conversation.bot_chat }}
          </p>
        </div>
      </div>

      {% endfor %}
    </div>
    <div class="background-image">
    </div>
    <div class="d-flex chatPDF-message-usernotaccount">
      <div class="optionAI">
        <ul class="optionAI-list">
          <li class="optionAI-item">
            GPT4All
          </li>
          <li class="optionAI-item" style="border-top: 1px solid #ccc">
            Llama2
          </li>
        </ul> 
        <span class="optionAI-box">
          <span>++</span>
          <div class="optionAI-hover">
            Option AI
          </div>
        </span>
      </div>
      <form class="chatPDF-message-form" id="input-form" method="POST" class="d-flex">
        <textarea type="text" id="messageInput" name="input_text" rows="1" placeholder="Send a message" class="d-flex"></textarea>
        <button class="chatPDF-message-btn" id="sendMessageButton">
          <i class="fas fa-play"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  var listItems = document.querySelectorAll('.notaccount-list li');
  var textarea = document.getElementById('messageInput');
  listItems.forEach(function (item) {
    item.addEventListener('click', function () {
      var itemText = item.textContent;
      textarea.value = itemText;
    });
  });
</script>
<script>
  // scroll
  const scrollableContent = document.getElementById("scrollable-content");
  function scrollBottom() {
    scrollableContent.scrollTop = scrollableContent.scrollHeight;
  }
  // Gửi tin nhắn
const conversationContainer = document.querySelector('.user-chatPDF-conversation');
var searchForm = document.getElementById('input-form');
searchForm.addEventListener('submit', async function(event) {
  event.preventDefault();
  var formData = new FormData(searchForm);
  formData.append('input_text', searchForm.elements.input_text.value);
  const user_chat = messageInput.value;
  let receivedResponse = false;
  messageInput.value = '';
  // Tạo div chứa câu hỏi của người dùng
  const userChatDiv = document.createElement('div');
  userChatDiv.className = 'user-chat';
  userChatDiv.innerHTML = `
    <div class="chat-item">
      <p class="chat-item-message">
        ${user_chat}
      </p>
    </div>
    <div class="chat-tk" id="scrollable-content">
      <span class="username">
        <i class="fa-solid fa-user"></i>
      </span>
    </div>
  `;
  conversationContainer.appendChild(userChatDiv);

  // Tạo div chứa câu trả lời của bot
  const chatChatDiv = document.createElement('div');
  chatChatDiv.className = 'chat-chat';
  conversationContainer.appendChild(chatChatDiv);
  chatChatDiv.innerHTML = `
    <div class="chat-AI">
      <span>
        <img src="{{url_for('static', filename='images/artificial-intelligence.png')}}"/>
      </span>
    </div>
    <div class="chat-item">
      <p class="chat-item-messageAI">
        <i class="fa-solid fa-spinner fa-spin icon-spinner"></i>
      </p>
    </div>
  `;

  
  try {
    const response = await fetch('/add_conversation', {
      method: 'POST',
      body: formData
    });
    const reader = response.body.getReader();
    while (true) {
      const {done, value} = await reader.read(); 
      if (done) break;  
      const text = new TextDecoder().decode(value); 
      
      // Tìm câu trả lời của bot và thêm nội dung
      const chatItemMessageAI = chatChatDiv.querySelector('.chat-item-messageAI');
      chatItemMessageAI.innerHTML += text; 

      // Kiểm tra nếu chưa nhận được câu trả lời từ server
      if (!receivedResponse) {
    receivedResponse = true; // Đặt biến receivedResponse thành true
    console.log(receivedResponse);
    // Loại bỏ biểu tượng loading nếu có giá trị text
    if (text.trim() !== '') {
        const iconSpinner = chatChatDiv.querySelector('.icon-spinner');
        if (iconSpinner) {
            iconSpinner.parentNode.removeChild(iconSpinner);
        }
    }
}

scrollBottom();
    }
  } catch (error) {
    console.error(error);
  }
});

</script>
<script>
  const optionAI = document.querySelector(".optionAI-box");
  const optionAIList = document.querySelector(".optionAI-list")
  const optionAIHover = document.querySelector(".optionAI-hover")
  optionAI.addEventListener('click', function(){
    optionAIList.style.display = "block";
    optionAIHover.classList.toggle('show');
    setTimeout(function(){
    optionAIList.style.display = "none";
    optionAIHover.classList.remove('show');
    }, 4000)
  })
</script>
{% endblock %}